#accueil {
	font-size: 1.6em;
}

.accueil_option {
	margin-top: 20%;
	color: #222;
	cursor: pointer;
}

a {
	color: #7A1BCC;
	text-decoration: none;
}

#mentions_legales {
	position: fixed;
	font-size: 0.6em;
	bottom: 0.2em;
	left: 0.4em;
	color: #888;
	cursor: pointer;
}
