@font-face
{
	font-family: riffic;
	src: url(riffic.ttf);
}

body, html
{
	margin: 0px;
	background-color: #EEE;
}

body
{
	font-family: "riffic";
	text-align: center;
	color: #444;
	overflow: hidden;
}

#header
{
	display: none;
	background-color: #7A1BCC;
	font-size: 30px;
	color: white;
	height: 45px;
	padding-top: 15px;
	cursor: pointer;
}

.page
{
	display: none;
	position: absolute;
	top: 60px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#body
{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	background-color: white;
	overflow: hidden;
}

@media screen and (min-width: 600px) and (orientation: landscape) {

	#body {
		position: absolute;
		width: 70%;
		top: 0%;
		left: 15%;
		height: 100%;
	}
}

@media screen and (min-width: 1000px) and (orientation: landscape) {

	#body {
		position: absolute;
		width: 40%;
		top: 0%;
		left: 30%;
		height: 100%;
	}
}

@media screen and (orientation: landscape) {
	#body {
		overflow: auto;
	}
}
