#jeu {
	height: calc(100% - 2.4em);
}

#reglesDuJeu {
	color: #888;
	text-align: left;
	font-size: 0.8em;
	height: 20%;
}

#reglesDuJeu>div {
	padding: 0.8em 0em 0em 0.4em;
	cursor: pointer;
	display: inline-block;
}

#temps {
	color: #111;
	color: #7A1BCC;
	font-size: 1.4em;
	cursor: pointer;
	height: 10%;
}

#footer {
	height: 20%;
	overflow: hidden;
}

#footerHeight {
	height: 100%;
}

#footer>div:nth-child(2) {
	margin-top: 0.4em;
	cursor: pointer;
	display: inline-block;
}
