#regles {
	text-align: left;
	overflow: auto;
}

.purple {
	color: #7A1BCC;
}

#retourAuJeu {
	float: right;
	color: #888;
	padding-right: 0.4em;
	padding-top: 0.8em;
	cursor: pointer;
}

#regles_du_jeu p {
	margin: 0.4em;
}

#regles_du_jeu div {
	height: 1.2em;
}
